@import "tailwindcss";
/* Tailwind custom colors for black theme */
@theme {
    --color-primary: #240046;
    --color-primary-2: #3c096c;
    --color-primary-3: #5a189a;


    --color-font: #ffffff;
}
